﻿
@{
    ViewData["Title"] = "Claims";
}

<div class="container-fluid">
    <h2>Claims</h2>

    <div class="row">
        <div class="col-md-12">

            <h3>Claims associated with current User</h3>
            <p>This page displays all the claims associated the the current User. This is useful when debugging to see which claims are being populated from the Auth0 ID Token.</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Claim
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in User.Claims)
                    {
                        <tr>
                            <td>@claim.Type</td>
                            <td>@claim.Value</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    </div>

