﻿@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;
@using Syncfusion.EJ;
@using Syncfusion.EJ.Export



@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row">
        <h2>Licencias</h2>
        @*<ej-grid id="FlatGrid" datasource="ViewBag.DataSource1" is-responsive="true" enable-responsive-row="true" allow-paging="true" allow-filtering="true" allow-sorting="true">

                <e-columns>
                    <e-column field="Id" header-text="ID" text-align="Center" width="75"></e-column>
                    <e-column field="Name" header-text="Nombre" text-align="Center" width="75"> </e-column>
                    <e-column field="ExpirationDate" header-text="Expiración" text-align="Center" format="{0:dd/MM/yyyy hh:mm tt}" width="75"></e-column>
                    <e-column field="RemainingDays" header-text="Días restantes" text-align="Center" width="75"></e-column>
                    <e-column field="UpdatedOn" header-text="Última Actualización" text-align="Center" format="{0:dd/MM/yyyy hh:mm tt}" width="75"></e-column>
                </e-columns>
            </ej-grid>*@


        <ejs-grid id="Grid" dataSource="ViewBag.DataSource1" allowSorting="true" allowFiltering="true" allowExcelExport="true" allowPdfExport="true" toolbarClick="toolbarClick" toolbar="@(new List<string>() {"ExcelExport", "PdfExport", "CsvExport","Print" })" allowPaging="true">
            <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="Id" headerText="ID" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="Name" headerText="Nombre" textAlign="Center" width="150"></e-grid-column>
                <e-grid-column field="ExpirationDate" headerText="Expiración" textAlign="Center" format="yMd" width="130"></e-grid-column>
                <e-grid-column field="RemainingDays" headerText="Días restantes" textAlign="Center" width="140"></e-grid-column>
                <e-grid-column field="UpdatedOn" headerText="Última Actualización" textAlign="Center" format="yMd" width="140"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>


</div>


<script>

    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        if (args.item.id === 'Grid_pdfexport') {
            gridObj.pdfExport();
        }
        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
        if (args.item.id === 'Grid_csvexport') {
            gridObj.csvExport();
        }
    }
</script>


