﻿
@if ((string)TempData["mensaje"] == "exito")
{
    <ejs-toast id="toast_default" title="¡Éxito!" content="Precio programado correctamente." icon="e-meeting" close="onclose" beforeOpen="onBeforeOpen">
        <e-toast-position X="Right"></e-toast-position>
    </ejs-toast>
}
else if ((string)TempData["mensaje"] == "error")
{
    <ejs-toast id="toast_default" title="¡Error!" content="Precio programado incorrectamente." icon="e-meeting" close="onclose" beforeOpen="onBeforeOpen">
        <e-toast-position X="Right"></e-toast-position>
    </ejs-toast>
}else{
<script>
    $(document).ready(function () {
        alert('El valor es : @TempData["mensaje"]');
    });
</script>
}

