﻿@using Syncfusion.EJ2
@using Syncfusion.EJ2.Notifications;

@model SiteMonitor.Web.ViewModels.AddPriceChangeViewModel

@{
    ViewData["Title"] = "AddPriceChange";
}

<div class="container-fluid">
    <div class="row">
        <br>
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
            <b>Validation States</b>
        </div>
    </div>

    <div class="col-lg-12 control-section toast-default-section">
        <div class="control_wrapper">

            @Html.Partial("_MessagePartial", TempData["mensaje"])
            @*@if ((string)TempData[" "] == "exito")
                    {
                        <ejs-toast id="toast_default" title="¡Éxito!" content="Precio programado correctamente." icon="e-meeting" close="onclose" beforeOpen="onBeforeOpen">
                            <e-toast-position X="Right"></e-toast-position>
                        </ejs-toast>
                    }
                    else
                    {
                        <script>
                $(document).ready(function () {
                    alert('El valor es : @TempData["var"]');
                });
                        </script>
                    }*@



            <div class="col-lg-12 col-sm-12 col-md-12 center">
                <div id="toastBtnDefault" style="margin: auto;text-align: center">
                    <button class="e-btn" id="toastBtnShow" style="visibility: hidden;">Show Toasts</button>
                    <button class="e-btn" id="toastBtnHide" style="visibility: hidden;">Hide All</button>
                </div>
            </div>


            @*<div id="toast_types">
                    <div>
                        <button class="e-btn e-control e-info" id="info_Toast"> Info Message </button>
                        <button class="e-btn e-control e-warning" id="warning_Toast"> Warning Message </button>
                        <button class="e-btn e-contro e-success" id="success_Toast"> Success Message </button>
                        <button class="e-btn e-control e-danger" id="error_Toast"> Danger Message </button>
                    </div>
                    <div style="padding-top: 15px">
                        <button class="e-btn e-control" id="hideToast" style="display: none"> Hide All </button>
                    </div>
                </div>*@
        </div>
    </div>


    <form asp-action="AddPriceChange">
        <div class="content-wrapper">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>




            @*<div id="toast_types">
                    <div>
                        <button class="e-btn e-control e-info" id="info_Toast"> Info Message </button>
                    </div>
                    <div style="padding-top: 15px">
                        <button class="e-btn e-control" id="hideToast" style="display: none"> Hide All </button>
                    </div>
                </div>*@

            <div class="row">
                <div id="wrapper" class="datetimepicker-section">
                    <div id="datetimepicker-control">
                        <ejs-datetimepicker id="datetimepicker" name="ChangesOn" format="dd-MM-yyyy hh:mm a" ejs-for="@Model.ChangesOn" placeholder="Seleccione fecha y hora."></ejs-datetimepicker>
                        <span asp-validation-for="ChangesOn" class="text-danger"></span>
                    </div>
                </div>

                @for (int i = 0; i < Model.Grades.Count; ++i)
                {
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            @Html.DisplayFor(model => Model.Grades[i].Name, Model.Grades[0].Id)
                            <input asp-for="@Model.Grades[i].Name" type="hidden" />
                        </div>

                        <div class="col-md-6">
                            <div class="e-float-input">
                                <input required="" type="text" asp-for="Grades[i].Price">
                                <span class="e-float-line"></span>
                                <label class="e-float-text"></label>
                                <span asp-validation-for=@Model.Grades[i].Price class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                }
            </div>



            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger">Regresar</a>
                    </div>
                </div>
            </div>

        </div>

    </form>


    <hr />

</div>

<style>
    #wrapper {
        max-width: 246px;
        margin: 30px auto;
        padding-top: 20px;
    }

    .e-input-picture::before {
        content: '\e7b3';
        font-family: e-icons;
    }

    .e-input-calendar::before {
        content: '\e901';
        font-family: e-icons;
        font-size: 13px;
    }

    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

        .content-wrapper div.row {
            padding: 15px 0px;
        }

    .custom-padding-05 {
        padding-top: 5px;
    }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-6,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    #description td {
        vertical-align: top;
    }
</style>

@section ScriptSection {
    <script>
        var inputObject = {};
        var input = document.querySelectorAll('.e-input-group .e-input,.e-float-input.e-input-group input');
        var inputIcon = document.querySelectorAll('.e-input-group-icon');
        var focusFn = function (index) {
            return function () {
                getParentNode(input[index]).classList.add('e-input-focus');
            };
        };
        var blurFn = function (index) {
            return function () { getParentNode(input[index]).classList.remove('e-input-focus'); };
        };
        var mouseupFn = function () {
            var ele = this; setTimeout(function () {
                ele.classList.remove('e-input-btn-ripple');
            }, 500);
        };
        for (var i = 0; i < input.length; i++) {
            input[i].addEventListener('focus', focusFn(i));
            input[i].addEventListener('blur', blurFn(i));
        }
        for (var j = 0; j < inputIcon.length; j++) {
            inputIcon[j].addEventListener('mousedown', function () {
                this.classList.add('e-input-btn-ripple');
            });
            inputIcon[j].addEventListener('mouseup', mouseupFn);
        }
        function getParentNode(element) {
            var parentNode = element.parentNode;
            if (parentNode.classList.contains('e-input-in-wrap')) {
                return parentNode.parentNode;
            }
            return parentNode;
        }
    </script>

}



<script type="text/javascript">

    var btnEleShow = document.getElementById('toastBtnShow');
    var btnEleHide = document.getElementById('toastBtnHide');

    document.onclick = function (e) {
        if (e.target !== btnEleShow) {
            var toastObj = document.getElementById('toast_default').ej2_instances[0];
            toastObj.hide('All');
        }
    };
    btnEleShow.onclick = function () {
        var toastObj = document.getElementById('toast_default').ej2_instances[0];
        toastObj.show();
    };

    btnEleHide.onclick = function () {
        var toastObj = document.getElementById('toast_default').ej2_instances[0];
        toastObj.hide('All');
    };

    function onclose(e) {
        if (e.toastContainer.childElementCount === 0) {
            btnEleHide.style.display = 'none';
        }
    }

    function onBeforeOpen() {
        btnEleHide.style.display = 'inline-block';
    }


    setTimeout(
        () => {
            var toastObj = document.getElementById('toast_default').ej2_instances[0];
            toastObj.show({
                target: document.body
            });
        }, 500);
</script>
<style>
    #toast_default .e-meeting::before {
        content: "\e705";
        font-size: 17px;
    }
</style>


