﻿@model SiteMonitor.Domain.Models.Site

@{
    ViewData["Title"] = "Editar estacion";
}

<div class="container-fluid">
    <h4>Editar estaciones de servicio</h4>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditSite">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="Id" class="control-label"></label>
                    <span>: </span>
                    @Html.DisplayFor(model => Model.Id, Model.Id)
                    <input asp-for="@Model.Id" type="hidden" />
                </div>
                <br />
                <div>
                    <label asp-for="Number" class="control-label"></label>
                    <span>: </span>
                    @Html.DisplayFor(model => Model.Number, Model.Number)
                    <input asp-for="@Model.Number" type="hidden" />
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ReceivesPriceChanges" /> @Html.DisplayNameFor(model => model.ReceivesPriceChanges)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    <a asp-action="SitesAdministration" class="btn btn-danger">Regresar</a>
                </div>
            </form>
        </div>
    </div>

</div>

