﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<li><a asp-area="" asp-controller="Admin" asp-action="AddPriceChange">Programar Cambio de Precios</a></li>

<li><a asp-area="" asp-controller="Admin" asp-action="SitesAdministration">Modificar Estaciones</a></li>