﻿@model IEnumerable<SiteMonitor.Domain.Models.Site>

@{
    ViewData["Title"] = "Modificar estaciones";
}

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-table fa-fw "></i>
                Estaciones de Servicio
            </h1>
        </div>

    </div>

    <div class="row">
        <!-- fields must be in lower case because thats json syntax. -->
        <ejs-grid id="Grid" allowPaging="true" allowsorting="true" locale="es-AR" allowtextwrap="true"
                  toolbar="@( new List<object>() {"Edit","Update","Cancel"})">
            <e-grid-editsettings allowEditing="true" mode="Dialog"></e-grid-editsettings>
            <e-data-manager url="/Admin/UrlDatasource" updateUrl="/Admin/Update" adaptor="UrlAdaptor"></e-data-manager>
            <e-grid-pageSettings pageCount="2" pageSize="5"></e-grid-pageSettings>
            <e-grid-columns>
                <e-grid-column field="id" headerText="ID" isPrimaryKey="true" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="number" headerText="Numero" width="150"></e-grid-column>
                <e-grid-column field="name" headerText="Nombre" width="120"></e-grid-column>
                <e-grid-column field="isActive" headerText="Activo" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="140"></e-grid-column>
                <e-grid-column field="receivesPriceChanges" displayAsCheckBox="true" editType="booleanedit" type="boolean" headerText="Cambios de precio" width="150"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    </div>

    <script>
        ej.base.L10n.load({
            "es-AR": {
                "grid": {
                    "GroupDropArea": "Arrastra un encabezado de columna aquí para agrupar su columna",
                    "Add": "Agregar",
                    "Edit": "Editar",
                    "Cancel": "Cancelar",
                    "Update": "Actualizar",
                    "Delete": "Borrar"
                },
                "pager": {
                    "currentPageInfo": "{0} de {1} páginas",
                    "totalItemsInfo": "({0} estaciones)",
                    "firstPageTooltip": "Ir a la primera página",
                    "lastPageTooltip": "Ir a la última página",
                    "nextPageTooltip": "Ir a la página siguiente",
                    "previousPageTooltip": "Regresar a la pagina anterior",
                    "nextPagerTooltip": "Ir al siguiente buscapersonas",
                    "previousPagerTooltip": "Ir al buscapersonas anterior",
                    "pagerDropDown": "Artículos por página"
                }
            }
        });
    </script>





