﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GasPro SiteMonitor</title>

    <link href="~/styles/material.css" rel="stylesheet" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/font-awesome.css" />
        <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/smartadmin-production-plugins.css" />
        <!-- SmartAdmin Styles : Caution! IE9/IE10 support a limited amount of selectors; use the minified file -->
        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/smartadmin-production.css" />
        <!--<link rel="stylesheet" type="text/css" href="~/css/smartadmin-production.min.css"/>-->
        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/smartadmin-skins.css" />

        <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/demo.css" />

        <!-- We recommend you use "site.css" to override SmartAdmin specific styles; this ensures you keep your customization with each SmartAdmin update. -->
        <link rel="stylesheet" href="~/SmartAdmin/css/site.css" />

        <!-- SmartAdmin RTL Support -->
        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/smartadmin-rtl.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/font-awesome.min.css" />

        <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/smartadmin-production-plugins.min.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/smartadmin-production.min.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/smartadmin-skins.min.css" asp-append-version="true" />

        <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/demo.min.css" asp-append-version="true" />

        <!-- We recommend you use "site.css" to override SmartAdmin specific styles; this ensures you keep your customization with each SmartAdmin update. -->
        <link rel="stylesheet" href="~/SmartAdmin/css/site.min.css" asp-append-version="true" />

        <!-- SmartAdmin RTL Support -->
        <link rel="stylesheet" type="text/css" href="~/SmartAdmin/css/smartadmin-rtl.min.css" />


    </environment>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>



    <script src=" https://cdn.syncfusion.com/16.1.0.24/js/web/ej.web.all.min.js" type="text/javascript"></script>
    @* Syncfusion Essential JS 2 Styles *@

    @*<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/bootstrap.css" />*@

    @* Syncfusion Essential JS 2 Scripts *@

    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <!-- FAVICONS -->
    <link rel="icon" href="~/images/logogasproIcon.ico" type="image/x-icon" />


    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" />

    <!-- Specifying a Webpage Icon for Web Clip Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->

    <link rel="apple-touch-icon" href="~/SmartAdmin/img/splash/sptouch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/SmartAdmin/img/splash/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/SmartAdmin/img/splash/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/SmartAdmin/img/splash/touch-icon-ipad-retina.png" />

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/SmartAdmin/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="~/SmartAdmin/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
    <link rel="apple-touch-startup-image" href="~/SmartAdmin/img/splash/iphone.png" media="screen and (max-device-width: 320px)" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

</head>
<body>
    @{ await Html.RenderPartialAsync("_Header"); }
    @{ await Html.RenderPartialAsync("_Navigation"); }


    <!-- MAIN PANEL -->
    <div id="main" role="main">
        @{ await Html.RenderPartialAsync("_Ribbon"); }
        <!-- MAIN CONTENT -->
        <div id="content">
           @*@RenderSection("ChartsSection", required: false)*@
            @RenderBody()
            @*@RenderSection("ControlsSection", required: false)*@
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN PANEL -->


    @{ await Html.RenderPartialAsync("_Footer"); }
    @{ await Html.RenderPartialAsync("_ShortCuts"); }
    @{ await Html.RenderPartialAsync("_Scripts"); }

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>*@

    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>*@

        <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/SmartAdmin/js/plugin/pace/pace.js"></script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $(function () {
            // DO NOT REMOVE : GLOBAL FUNCTIONS!
            pageSetUp();
        });
    </script>

   
    <ejs-scripts></ejs-scripts>
    @RenderSection("ScriptSection", required: false)
    @RenderSection("Scripts",required:false)

</body>
</html>