﻿@*@inject IOptions<SmartSettings> Settings*@
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
@using System.Security.Claims;


<aside id="left-panel">
    <!-- User info -->
    <div class="login-info">
        <span>
            <!-- User image size is adjusted inside CSS, it should stay as it -->
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                @if (User.Identity.IsAuthenticated){
                @*<img src="@((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("picture").Value">*@
                <img src="@User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value" alt="me" class="online" />
                <span>@User.Identity.Name</span>
                <i class="fa fa-angle-down"></i>
                    }
            </a>

        </span>
    </div>
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive-->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li is-active-route asp-controller="Home" asp-action="Index">
                <a asp-controller="Home" asp-action="Index" title="Dashboard">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Inicio</span>
                </a>
            </li>
            <li is-active-route asp-controller="Licence" asp-action="Index">
                <a asp-controller="Licence" asp-action="Index" title="Dashboard">
                    <i class="fa fa-lg fa-fw fa-handshake-o"></i> <span class="menu-item-parent">Licencias</span>
                </a>
            </li>
            <li is-active-route asp-controller="PriceChange" asp-action="Index">
                <a asp-controller="PriceChange" asp-action="Index" title="Dashboard">
                    <i class="fa fa-lg fa-fw fa-dollar"></i> <span class="menu-item-parent">Precios</span>
                </a>
            </li>
            @*<li is-active-route asp-controller="Admin" asp-action="AddPriceChange">
                <a asp-controller="PriceChange" asp-action="SchedulePriceChange" title="Cambio de Precios">
                    <i class="fa fa-lg fa-fw fa-exchange"></i> <span class="menu-item-parent">Cambio de Precios</span>
                </a>
            </li>*@

            @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("admin")) //if (((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("https://josevalverde.example/roles").Value.ToString() == "admin")
                        {
            <li is-active-route asp-controller="Admin">
                <a href="#" title="Dashboard">
                    <i class="fa fa-lg fa-fw fa-unlock"></i> <span class="menu-item-parent">Admin</span>
                </a>
                <ul>
                    <li is-active-route asp-controller="Admin" asp-action="AddPriceChange">
                        <a asp-controller="Admin" asp-action="AddPriceChange" title="Programar Cambio de Precios">
                            <span class="menu-item-parent">Programar Cambio de Precios</span>
                        </a>
                    </li>
                    <li is-active-route asp-controller="Admin" asp-action="SitesAdministration">
                        <a asp-controller="Admin" asp-action="SitesAdministration" title="Modificar Estaciones">
                            <span class="menu-item-parent">Modificar Estaciones</span>
                        </a>
                    </li>

                </ul>
            </li>

                        }
                }

        </ul>
    </nav>
    @*<a asp-controller="Intel" asp-action="Variations" asp-show-when="@Settings.Value.Environment.IsDemo()" class="btn btn-primary nav-demo-btn"><i class="fa fa-info-circle"></i> SmartAdmin Package (187 MB)</a>
        <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>*@
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
    <!-- END NAVIGATION -->
