﻿
    <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
    Note: These tiles are completely responsive, you can add as many as you like
    -->
    <div asp-show-when="" id="shortcut">
        <ul>
            <li>
                <a is-active-route asp-controller="Home" asp-action="Inbox" class="jarvismetro-tile big-cubes bg-color-blue">
                    <span class="iconbox">
                        <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span>
                    </span>
                </a>
            </li>
            <li>
                <a is-active-route asp-controller="Features" asp-action="Calendar" class="jarvismetro-tile big-cubes bg-color-orangeDark">
                    <span class="iconbox">
                        <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span>
                    </span>
                </a>
            </li>
            <li>
                <a is-active-route asp-controller="Features" asp-action="GoogleMap" class="jarvismetro-tile big-cubes bg-color-purple">
                    <span class="iconbox">
                        <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span>
                    </span>
                </a>
            </li>
            <li>
                <a is-active-route asp-controller="Misc" asp-action="Invoice" class="jarvismetro-tile big-cubes bg-color-blueDark">
                    <span class="iconbox">
                        <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span>
                    </span>
                </a>
            </li>
            <li>
                <a is-active-route asp-controller="AppViews" asp-action="Gallery" class="jarvismetro-tile big-cubes bg-color-greenLight">
                    <span class="iconbox">
                        <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span>
                    </span>
                </a>
            </li>
            <li>
                <a is-active-route asp-controller="AppViews" asp-action="Profile" class="jarvismetro-tile big-cubes bg-color-pinkDark">
                    <span class="iconbox">
                        <i class="fa fa-user fa-4x"></i> <span>My Profile </span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END SHORTCUT AREA -->
