﻿@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;
@using Syncfusion.EJ;
@using Syncfusion.EJ.Export
@using Syncfusion.EJ2;

@{
    ViewData["Title"] = "Index";
}

@{
    var GroupedCols = new List<string>() { "Site.Name" };
}

<div class="container-fluid">
    <div class="row">
        <h2>Precios Programados JS2</h2>
        @{

            List<object> toolbarItems = new List<object>();
            toolbarItems.Add(new { text = "Expand All", tooltipText = "Expand All", prefixIcon = "e-expand", id = "expandall" });
            toolbarItems.Add(new { text = "Collapse All", tooltipText = "Collapse All", prefixIcon = "e-collapse", id = "collapseall" });
        }
        <ejs-button id="collapse" content="Collapse" isPrimary="true"></ejs-button>
        <ejs-grid id="Grid" dataSource="ViewBag.DataSource" toolbarClick="toolbarClick" toolbar=toolbarItems actionComplete="Complete2" databound="dataBound2" allowGrouping="true" allowPaging="true" allowFiltering="true">
            <e-grid-groupsettings showDropArea="false" columns="@(new string[] {"Site.Name"})"></e-grid-groupsettings>
            <e-grid-columns>
                <e-grid-column field="Id" headerText="Id" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column field="Site.Id" headerText="Id Sitio" width="150"></e-grid-column>
                <e-grid-column field="Site.Name" headerText="Nombre" width="150"></e-grid-column>
                <e-grid-column field="Site.Name" headerText="Nombre" width="150"></e-grid-column>  extra column to render Name in view and not only groupBy Name.
                <e-grid-column field="Grade.Name" headerText="Combustible" width="150"></e-grid-column>
                <e-grid-column field="Price" headerText="Precio" width="150"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

@*<ejs-button id="primarybtn" cssClass="e-success" content="BTN DE PRUEBA"></ejs-button>*@

<script>
    document.getElementById('collapse').addEventListener('click', () => {
        var grid = document.getElementById('Grid').ej2_instances[0];
        if (grid.getSelectedRowIndexes().length) {
            var currentTr = grid.getRows()[grid.getSelectedRowIndexes()[0]];
            while (currentTr.classList && currentTr.classList.length) {
                currentTr = currentTr.previousSibling;
            }
            let collapseElement = currentTr.querySelector('.e-recordplusexpand');
            grid.groupModule.expandCollapseRows(collapseElement); //Pass the collapse row element.
        }
    });
</script>


<script>
    function toolbarClick(args) {

        if (args.item.id === 'expandall') {
            this.groupModule.expandAll();
        }
        if (args.item.id === "collapseall") {
            this.groupModule.collapseAll();
        }

    }

    function Complete2(args) {
        if (args.requestType == "paging") {
            this.groupModule.collapseAll();
        }
    }

    function dataBound2(args) {
        this.groupModule.collapseAll();
    }
</script>











