﻿@*@model SiteMonitor.Web.ViewModels.SchedulePriceChangeViewModel
@{
    ViewData["Title"] = "Programar cambio de precios";
}*@

@*<h2>Cambios de Precios Programados</h2>
@if (Model.Schedule.Count != 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiresOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Site)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiresOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainingDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
                </td>
            </tr>
        }
        </tbody>
    </table>
}*@


